html, body {
  font-family: sans-serif, Arial, Helvetica;
  color: #e7e7e7;
  background: #536162;
}

a {
  color: #dbdbdb;
  text-decoration: none;
}

a:hover {
  color: #cbccc5;
  text-decoration: none !important;
}

header .container {
  padding-top: 1em;
}

#id {
  text-align: center;
  display: block;
}

.name, .handle {
  display: block;
  line-height: 1em;
}

.name {
  font-weight: 500;
  letter-spacing: -1px;
  color: #e7e7e7;
  font-size: 1.3em;
  font-weight: 600;
}

.handle {
  font-size: 1em;
}

@media (max-width: 568px) {
  #id {
    margin-top: 10px;
  }
}

@media (min-width: 568px) {
  #id {
    text-align: left;
    display: inline-block;
  }
}

header ul,
header li {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

.contact a {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding: 8px;
  color: #f6f7f7;
  transition: color .30s;
}

.contact a:hover {
  color: #cbccc5;
  text-decoration: none !important;
}

.contact i {
  display: block;
  font-size: 3em;
}

.intro {
  margin-top: 2em;
  margin-bottom: 3em;
}

.intro p {
  display: inline;
  font-size: 1.5em;
  font-weight: 300;
}

.cover p {
  font-size: 1.25em;
}

.cover a {
  font-style: italic;
  text-decoration: underline;
}

.cover a:hover {
  color: #cbccc5;
  text-decoration: none !important;
}

@media (min-width: 600px) {
  .intro p {
    font-size: 2.5em;
  }

  .cover p {
    font-size: 1.5em;
  }
}

footer p {
  font-size: 1em;
  font-weight: 300;
}
